
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<label>@ViewBag.Message</label>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Password("Password", null, new { @class = "form-control", @placeholder = "yeni şifre" })
    @Html.Password("PasswordAgain", null, new { @class = "form-control", @placeholder = "şifre tekrar" })
    @Html.Hidden("ActivationCode", (string)ViewBag.Code, new { @class = "form-control" })
    <div class="g-recaptcha" data-sitekey="6LcSmTMUAAAAAIjsXyNT5y0iSJtY-UwRyW8Q2IgM"></div>
    <input type="submit" name="name" value="Onayla" />
}
